<div class="auth-container">

  <!-- LEFT SIDE -->
  <div class="auth-left">
    <h1>MediCare</h1>
    <p>Smart Healthcare Platform</p>
  </div>

  <!-- RIGHT SIDE -->
  <div class="auth-right">

    <div class="auth-card">

      <!-- ROLE SWITCH -->
      <div class="role-switch">
        <button 
          [class.active]="role==='patient'"
          (click)="setRole('patient')">
          Patient
        </button>

        <button 
          [class.active]="role==='doctor'"
          (click)="setRole('doctor')">
          Doctor
        </button>
      </div>

      <h3 class="text-center mb-3">
        {{isLogin ? 'Login' : 'Sign Up'}} as {{role}}
      </h3>

      <form (ngSubmit)="submitForm()" #authForm="ngForm">

  <!-- EMAIL -->
  <input 
    type="email"
    name="email"
    [(ngModel)]="UserDetails.email"
    #email="ngModel"
    placeholder="Email"
    class="form-control mb-1"
    required
  >

  <!-- ERROR -->
  <div class="text-danger small mb-2" *ngIf="email.invalid && email.touched">
    Email is required
  </div>


  <!-- PASSWORD -->
  <input 
    type="password"
    name="password"
    [(ngModel)]="UserDetails.password"
    #pass="ngModel"
    placeholder="Password"
    class="form-control mb-1"
    required
  >

  <!-- ERROR -->
  <div class="text-danger small mb-2" *ngIf="pass.invalid && pass.touched">
    Password is required
  </div>


  <!-- SIGNUP EXTRA -->
  <div *ngIf="!isLogin">

    <!-- NAME -->
    <input 
      type="text"
      name="name"
      [(ngModel)]="UserDetails.email"
      #name="ngModel"
      placeholder="Full Name"
      class="form-control mb-1"
      required
    >

    <!-- ERROR -->
    <div class="text-danger small mb-2" *ngIf="name.invalid && name.touched">
      Name is required
    </div>

  </div>


  <!-- SUBMIT -->
  <button 
    type="submit"
    class="btn btn-primary w-100"
    [disabled]="authForm.invalid"
  >
    {{isLogin ? 'Login' : 'Register'}}
  </button>

</form>
      <!-- TOGGLE -->
      <p class="text-center mt-3">
        {{isLogin ? 'New user?' : 'Already have account?'}}
        <span class="toggle" (click)="toggleMode()">
          {{isLogin ? 'Sign Up' : 'Login'}}
        </span>
      </p>

    </div>

  </div>

</div>