<div class="container-fluid p-4" [@fadeIn]>
  <h2 class="mb-4 text-center">Welcome, {{ username }} 🎉</h2>




 <nav class="navbar" >
   <div class="navbar-brand"><a href="/dashboard" style="text-decoration: none;">🏥 Doctor-Patient Portal</a></div>
  <ul class="navbar-links">
    <li><a href="/accounts" routerLinkActive="active">Accounts</a></li>
    <li><a routerLink="/history" routerLinkActive="active">History</a></li>
    <li><a href="/appointments" routerLinkActive="active" target="_blank" *ngIf="userRole?.toLocaleLowerCase() === 'patient'">Appointments</a></li>
    <li>          <a class="nav-link" href="/available" routerLinkActive="active" *ngIf="userRole?.toLocaleLowerCase() === 'doctor'">Your availability
    </a>
</li>
    <li><a routerLink="/stories" routerLinkActive="active">Stories</a></li>
    <li><button (click)="logout()" class="logout-btn">Logout</button></li>
  </ul>
</nav> 